.ani {
  opacity: 1;
  transform: translate(0px, 0px);
}

.top-container {
  display: flex;
  justify-content: space-between;
}

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  padding: 0 66px 0 0; /* Right padding for submit button width */
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  // padding: 0 25px 0 200px; /* Padding for other horizontal elements */
  padding-bottom: 5rem;
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  padding: 0 46px 0 10px;
  // border-color: #888;
  border-color: #0a1733;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
  // color: #333;
  color: #617db9;
  font-family: "Helvetica", sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
  background: transparent;
  // color: #888;
  color: #0a1733;
  font-family: "Helvetica", sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #2a3b5f;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #2a3b5f;
}

.flexsearch--submit:hover {
  color: #2a3b5f;
  cursor: pointer;
}

::-webkit-input-placeholder {
  // color: #14213d;
  color: #2a3b5f; // C
}

input:-moz-placeholder {
  color: #757373; // C
}

/****************
 * Pretify demo *
 ****************/

.nav {
  grid-column: 1/15;
  display: flex;
  align-items: center;

  .brand-logo1 {
    // margin-right: auto;
    // height: 2.2rem;
    // font-size: 0.6rem;
    height: 5.9rem;
    padding-bottom: 2.4rem;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
  }

  .logo {
    height: 7rem;
    padding-bottom: 1rem;
  }

  .brand-logo-container {
    margin-right: auto;
    // height: 3.4rem;
    text-align: center;
    // padding-bottom: rem;
  }

  .baseBox {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }

  .usd {
    margin-left: 2rem;
    padding: 1.2rem 5rem 1.2rem 2rem;
    background-color: #fff;
    color: #2a3b5f;
    text-transform: uppercase;
    font-size: 1rem;
    background-image: url("../img/png/usa-flag.png"); // C
    background-repeat: no-repeat;
    background-position: 68% 48%;
  }
}

// hero
.hero {
  //   grid-column: 4/14; // Changle
  width: 92%;
  margin: auto;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 56.25em) {
    // tab-port
    flex-direction: column;
    &__heading {
      br {
        display: none;
      }
    }
    &__rates {
      margin-top: 3rem;
    }
  }

  &__heading {
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .date {
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 2rem 4rem;
    text-transform: uppercase;
    background-color: #14213d;
    // color: #2c0db5;
    color: #fff;
    margin-top: 2rem;
    font-family: $secondary-font;
    align-self: flex-start;
  }

  &__rates {
    width: 75rem;
    overflow-x: hidden;
    position: relative;

    @media only screen and (max-width: 37.5em) {
      // phone
      width: 55rem;
    }
    @media only screen and (max-width: 28.4375em) {
      // phone
      width: 40rem;
    }
    @media only screen and (max-width: 22.5em) {
      // phone
      width: 30rem;
    }

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to right,
        #ef233c 3%,
        rgba(#ef233c, 0) 25%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to left,
        #ef233c 3%,
        rgba(#ef233c, 0) 25%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .table-wrapper {
      display: flex;
      // animation: swipe 30s infinite alternate ease-in-out;
      animation: swipe 70s infinite alternate ease-in-out;
      table {
        border-spacing: 1rem;
        border-collapse: separate;
        margin-right: 1rem;
        tr {
          th {
            // text-transform: capitalize;
            // color: #567dfd;
            text-align: left;
            // padding-right: 1rem;
          }
          td {
            padding: 1rem 0;
            // font-size: 1.3rem;
          }
          .code {
            color: $primary-color;
            // font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// animation
@keyframes swipe {
  from {
    transform: translateX(15%);
  }
  to {
    // transform: translateX(-110%);
    transform: translateX(-470%);
  }
}
